# Ignorar o diretório do ambiente virtual
venv-cloud/
# ou, se o nome do seu ambiente virtual for diferente, como .venv
.venv-cloud/

# Ignorar arquivos de log
*.log

# Ignorar arquivos de configuração local
.env

# Ignorar diretórios de dependências
__pycache__/
*.pyc

# Ignorar arquivos de cache do Python
*.pyo
*.pyd

# Ignorar arquivos de teste
*.egg-info/
dist/
build/